# Visual Studio
.vs/
bin/
obj/
publish/
*.user
*.suo

# User Data
config.json
*.pdf
*.docx
*.log

# Hassas Bilgiler
appsettings.json
appsettings.Development.json

# Buyuk Dosyalar
cloudflared.exe
*.zip
*.sql
api_log.txt
